.App {
  text-align: center;
  display: grid;
  background-color:blue;
}

img {
  width: 100px;
  border-radius: 50%;
}

.card {
  background-color:grey;
  float:center;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0.2);
  padding: 10px;
  margin: 10px auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  /* grid-template-columns: auto auto auto auto; */
}

hr {
  border-top: 3px dotted red;
  width: 50%;
}

.card > div {
  line-height: 0px;
  margin: 5px 15px;
}

.cardFoto {
  width: 60%;
}

.cardDetail {
  width: 100%;
}

div.cardDetail {
  line-height: 1px;
}
